/*
Style Sheet for eclipse.html
Author: Brendon Busic
Start Date: 02/15/2017
*/
html{
	background-color: black;
	background-image: url("eclipse2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 1720px 1350px;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	min-width: 800px;
}
#topPort{
	background-color: black;
	opacity: 0.9;
	border: 2px solid white;
	margin-right: 50px;
	margin-left: 50px;
	float: top;
	padding-right: 10px;
	padding-left: 10px;
}
#emailLink{
	text-shadow: 0px 0px 5px rgb(0, 221, 225);
}
h1{
	text-align: center;
	/*color: rgb(255,191,0);
	text-shadow: 0px 0px 20px black;*/
	
	color: white;
	text-shadow: 0px 0px 20px aqua;
	background-image: url("particles.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 400px 200px;
}
#welcome{
	text-align: center;
	color: white;
	text-shadow: 0px 0px 20px aqua;
	
	margin-left: 240px;
	margin-right: 240px;
}
h2{
	padding-left: 10px;
}
h5{
	text-align: center;
	color: white;
	/*text-shadow: 0px 0px 5px rgb(255,191,0);*/
	text-shadow: 0px 0px 3px rgb(0, 221, 255);
}
a{
	font-style:;
	color:white;
	text-shadow: none;
	text-decoration: none;
	font-size: 13pt;
}
a:hover{
	color: white;
	border-bottom:0.1px solid white;
	font-style: italic;
	text-shadow: none;
	font-size: 13pt;
}
div.navCol{
	color:white;
	padding-right:15px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size: 12pt;
	display: inline-block;
	text-decoration: none;
	background-color: black;
	float: left;
	border: 2px solid white;
	opacity: 0.8;
	text-align: left;
	margin-left:50px;
	position: sticky;
	top: 10px;
}
div.navCol a:hover{
	color: white;
	border-bottom:0.1px solid white;
	font-style: italic;
	text-shadow: none;
	font-size: 12pt;
}
div.navCol a{
	font-style:;
	color:white;
	text-shadow: none;
	text-decoration: none;
	font-size: 12pt;
}
div.content{
	float: top;
	margin-left: 230px;
	margin-right: 50px;
	color: white;
	opacity: 0.8;
	border: 2px solid white;
	padding-left: 10px;
	padding-right: 40px;
	background-color: black;
	text-shadow: 0px 0px 5px teal;
}
table{
	text-align: center;
	margin-right: 20px;
	border-width: 1px;
	border-style: none;
	border-color: white;
	border-collapse: collapse;
	border-spacing: 0px 1px;
}
#column1{
	padding-left: 10px;
	padding-right: 10px;
}
#smallText{
	font-size: 10pt;
	color: white;
	text-shadow: none;
	/*margin-left: 15px;*/
}
#smallText2{
	font-size: 10pt;
	color: white;
	text-shadow: none;
	margin-left: 15px;
	text-align:center;
}
address{
	padding-left: 25px;
	padding-right: 25px;
	font-size: 7pt;
	text-shadow: 0px 0px 1px black;
	text-align: center;
	font-family: Helvetica;
}
p{
	padding-right:7px;
}
#link{
	font-style: normal;
	font-size: 17;
}
span{
	text-shadow: none;
	font-size: 8pt;
	color: aqua;
	text-align: center;
	font-style: italic;
}
#listInfo{
	text-align: center;
	font-weight: bold;
	color: white;
	text-shadow: 0px 0px 5px black;
	padding-left: 10px;
	padding-right: 10px;
}
#xtra{
	font-style: italic;
	font-size: 10pt;
	color: white;
	opacity: 0.9;
}
#appOutline{
	margin-left: 10px;
}
#timeStamp{
	text-align: center;
	font-variant: small-caps;
	color: white;
	opacity: 0.7;
	text-shadow: 0px 0px 5px purple;
	font-size: 7pt;
	letter-spacing: 1px;
	line-height: 0.1;
}
#contentIndent{
	padding-left: 10px;
}
#red{
	color: red;
	text-shadow: 0px 0px 5px red;
}
#orange{
	color: orange;
	text-shadow: 0px 0px 5px orange;
}
#yellow{
	color: yellow;
	text-shadow: 0px 0px 5px yellow;
}
#green{
	color: lime;
	text-shadow: 0px 0px 5px lime;
}
#rowA{
	
}
#rowB{
	
}
#specThx{display: none;}
